<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egov.win10.simpelv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/favv"
        android:label="@string/app_name"
        android:roundIcon="@drawable/favv"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TTD.VerifikasiTTD" />
        <activity android:name=".TTD.SuksesDaftarTTD" />
        <activity android:name=".TTD.DownloadSign" />
        <activity android:name=".TTD.PassPhrase" />
        <activity android:name=".TTD.DaftarTTD" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login" />
        <activity android:name=".DetailDisposisiMasuk" />
        <activity android:name=".DetailSuratMasuk" />
        <activity android:name=".BuatDisposisi" />
        <activity android:name=".WelcomeActivity">

        </activity>

        <service android:name=".fcm.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".DetailDisposisiKeluar" />
        <activity android:name=".BuatDisposisiSM" />

        <activity android:name=".DetailKonsep" />
        <activity android:name=".DetailSignature" />
        <activity android:name=".list.ListSuratMasuk" />
        <activity android:name=".list.ListDisposisiMasuk" />
        <activity android:name=".list.ListKonsep" />
        <activity android:name=".list.ListTandaTanganSurat" />
        <activity android:name=".list.ListSuratKeluar" />
        <activity android:name=".list.ListDisposisiKeluar" />
        <activity android:name=".DetailSuratKeluar" />
        <activity android:name=".list.ListTembusan" />
        <activity android:name=".DetailTembusan" />
        <activity android:name=".TU.ListSuratMasukTU" />
        <activity android:name=".TU.DetailSuratMasukTU" />
        <activity android:name=".TU.ListAgendaMasuk" />
        <activity android:name=".TU.ListAgendaKeluar" />
        <activity android:name=".TU.DetailAgendaMasuk" />
        <activity android:name=".TU.DetailAgendaKeluar" />
    </application>

</manifest>